header,
h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  color: rgb(60, 56, 53);
  font-weight: bold;
}
header {
  background-color: rgb(0, 177, 169);
}

body {
  /* background-image: linear-gradient(
    to right,
    rgb(12, 75, 22),
    rgb(18, 94, 30),
    rgb(15, 114, 30)
  ); */

  background-color: rgb(36, 34, 34);
}

/* form background styling */
.formBackground {
  background-color: rgba(18, 85, 63, 0.397);
  border-radius: 25px;
  /* margin-left: 5px; */
  /* margin-right: 15px; */
}

/* form styling */
form {
  border-radius: 20px;
  font-weight: bold;
}

textarea {
  resize: none;
}

/* Alert div */
.alertDiv {
  background-color: rgba(58, 84, 65, 0.507);
  min-height: 50px;
  border-radius: 25px;
}

/* Table Styling */
.customTable {
  display: block;
  overflow-x: auto;
}
th,
tr,
td,
th,
thead {
  border: 1px groove rgb(59, 58, 56);
  color: white;
  border-collapse: collapse;
}

th {
  /* background-color: rgb(41, 38, 38); */
  background-color: rgb(0, 177, 169);
  border-radius: 5px;
}

tr {
  background-color: rgb(18, 85, 63);
  border-radius: 5px;
}

tr:hover {
  background-color: rgb(7, 58, 41);
}
.select {
  background-color: rgb(7, 58, 41);
}

/* Table details styling */

th:nth-child(1) {
  width: 3.5%;
  max-width: 4.5%;
}

th:nth-child(2) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(3),
th:nth-child(4) {
  width: 4%;
  max-width: 5%;
}

th:nth-child(5) {
  width: 7%;
  max-width: 8%;
}
th:nth-child(6) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(7) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(8) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(9) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(10) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(11) {
  width: 10%;
  max-width: 12%;
}
th:nth-child(12) {
  width: 10%;
  max-width: 12%;
}

/* Form Styling */
form {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

select {
  text-align: center;
}

/* Button Styles */
.btn {
  -moz-box-shadow: 0px 0px 4px 2px #60696e;
  -webkit-box-shadow: 0px 0px 4px 2px #60696e;
  box-shadow: 0px 0px 4px 2px #60696e;
  background-color: #3080ab;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  padding: 5px 20px;
  text-decoration: none;
}
.btn:hover {
  background-color: #1ab0d6;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* Switch Button styles */
.onoffswitch {
  position: relative;
  width: 65px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 14 px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #0ce38d;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #0ce38d;
  color: #333333;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 25px;
  margin: 0px;
  background: #066fba;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  height: 80%;
  border: 2px solid #999999;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
