.formArea {
  display: -ms-grid;
  display: grid;
  background-color: rgb(3, 121, 115);
  -ms-grid-column-align: center;
  justify-self: center;
  /* justify-items: right; */
  padding: 50px;
  grid-template-rows: auto auto;
  -ms-grid-rows: auto auto;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-left: 100px; */
  -webkit-box-shadow: 1px 1px 50px black;
  box-shadow: 1px 1px 50px black;
  grid-column: 3/3;
  -ms-grid-column: 3/3;
}

.formArea div {
  font-weight: bold;
}

/* Data Area */
.formDataArea {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(7, auto);
  -ms-grid-rows: repeat(7, auto);
  -ms-grid-row: 1;
  grid-row: 1/1;
}

/* LINE 1 */
.switchBtnLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-columns: repeat(8, 1fr);
}

.helpBtn {
  grid-row: 1/1;
  grid-column: 8/8;
  /* margin-left: 100%; */
}

.switch {
  grid-row: 1/1;
  grid-column: 4/4;
}

.switchBtnLine input:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* LINE 2 */
.workTitleLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 200px 250px 50px 50px;
  -ms-grid-columns: 100px 200px 250px 50px 50px;
}

.workTitleDT {
  display: -ms-grid;
  display: grid;
  grid-column: 1/1;
  -ms-grid-column: 1/1;
  grid-row: 1/1;
  -ms-grid-row: 1/1;
}
.workTitleInput {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  grid-row: 1/1;
}
.typeDT {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column-align: end;
  justify-self: end;
  padding-right: 10px;
}
.type1Input {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  grid-row: 1/1;
}
.type2Input {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  grid-column: 5/5;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

/* LINE 3 */
.descriptionLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 550px;
  -ms-grid-columns: 100px 550px;
}

.descriptionDT {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

textarea {
  resize: none;
}

/* LINE 4 */
.locationLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 200px 150px 200px;
  -ms-grid-columns: 100px 200px 150px 200px;
}

.locationBox {
  display: -ms-grid;
  display: grid;
}
.statusDT {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-self: center;
}

.statusBox {
  display: -ms-grid;
  display: grid;
}

/* LINE 5 */
.companyLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 200px 150px 100px 100px;
  -ms-grid-columns: 100px 200px 150px 100px 100px;
  grid-gap: 0px 0px;
}
.companyBox {
  display: -ms-grid;
  display: grid;
}
.sapDT {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-self: center;
}

.sapBox {
  display: -ms-grid;
  display: grid;
  /* position: relative; */
  grid-column: 5/6;
  /* width: 50px; */
}

.sapChoice {
  grid-column: 4/5;
  /* display: none; */
}

/* LINE 6 */
.requestByLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 200px 150px 200px;
  -ms-grid-columns: 100px 200px 150px 200px;
}
.requestByBox {
  display: -ms-grid;
  display: grid;
}
.requestDateDT {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-self: center;
}

/* LINE 7  */
.closedByLine {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 200px 150px 200px;
  -ms-grid-columns: 100px 200px 150px 200px;
}
.closedByDT {
  display: -ms-grid;
  display: grid;
}
.closedByBox {
  display: -ms-grid;
  display: grid;
}
.completionDateDT {
  -ms-grid-column-align: center;
  justify-self: center;
}

/* Button Area  */
.formBtnArea {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, auto);
  -ms-grid-columns: repeat(7, auto);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-grid-row: 2;
  grid-row: 2/2;
  position: relative;
}
.ovalButton {
  font-size: 15px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #293e95;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: bold;
  /* display: none; */
}

.ovalButton:hover {
  -webkit-box-shadow: 5px 5px 10px rgb(42, 66, 88);
  box-shadow: 5px 5px 10px rgb(42, 66, 88);
}

/* .requestByBox:read-only {
  color: grey;
}

.requestByBox:-moz-read-only {
  color: grey;
} */
