body {
  display: grid;
  /* background-color: white; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 20%);
  color: white;
  /* justify-content: center; */
  background-color: black;
  background-image: url("../image/mainBg2.jpg");
  height: 100vh;
  font-family: "Cambria", Georgia, Times, Times New Roman, serif;
}

.header {
  grid-row: 1/1;
  grid-column: 1/6;
  height: 50%;
  background-color: rgba(24, 87, 82, 0.5);
  justify-self: stretch;
  border-radius: 25px;
}
.main {
  display: grid;
  grid-row: 2/5;
  grid-column: 3/4;
  background-color: rgba(255, 255, 255, 0.233);
  box-shadow: 1px 1px 5px black;
  justify-self: stretch;
  border-radius: 5%;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.footer {
  grid-row: 5/5;
  grid-column: 1/6;
  background-color: green;
  justify-self: stretch;
  height: 50%;
  background-color: rgba(24, 87, 82, 0.5);
  margin-top: 2.5%;
  border-radius: 5%;
}

.idBox {
  height: 50%;
  grid-row: 7/8;
  grid-column: 4/9;
  align-self: center;
}

.pwBox {
  height: 50%;
  grid-row: 8/9;
  grid-column: 4/9;
  align-self: center;
}

label {
  align-self: center;
  word-wrap: break-word;
}

.idLabel {
  grid-row: 7/8;
  grid-column: 2/4;
}

.pwLabel {
  grid-row: 8/9;
  grid-column: 2/4;
}

.signInBtn {
  grid-row: 9/10;
  grid-column: 5/8;
  height: 50%;
}

.pwForgotBtn {
  grid-row: 10/11;
  text-align: center;
  grid-column: 4/9;
  height: 50%;
}
