.devArea {
  display: grid;
  background-color: rgb(0, 177, 169);
  justify-self: left;
  align-self: center;
  padding: 50px;
  /* grid-template-rows: auto auto; */
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* box-shadow: 1px 1px 50px black; */
  grid-row: 1/1;
  grid-column: 2/2;
  height: 40%;
  width: 25%;
  margin-left: 5px;
  /* grid-column-gap: 500px; */
}
