body{
    display:grid;
    background-color: black;
    grid-template-rows: repeat(3,auto);
}

.mainArea {
display: grid;
/* border: 2px solid white; */
/* grid-template-columns: auto; */
/* width: 40%; */
/* padding: 25px; */
/* background-color: #94bde5;    */
/* margin: auto;  */
/* justify-content: space-evenly; */
}

.formArea{
    display:grid;
    background-color: #94bde5;   
    justify-self:center;
    padding:50px;
    grid-template-rows: auto auto;
}

.formDataArea{
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(7,auto);
}


.formTitleLine{
    display:grid;
    grid-template-rows: auto;
    justify-self: center;
    /* border:1px solid red; */
    margin-bottom: 20px;
}

.switchBtnLine{
    display:grid;
    grid-template-columns: auto auto auto;
    /* border:5px solid red; */
}





.workTitleLine  {
    display:grid;
    /* border: 1.5px solid blue; */
    grid-template-columns: 100px 200px 250px 50px 50px;
}

.workTitleDT{
    display:grid;
   grid-column: 1/1;
   /* border: 1px solid red; */
   grid-row: 1/1;
}
.workTitleInput{
    display:grid;
    grid-column: 2/2;
    grid-row: 1/1;
    background-color:#8e8e8d;   
}
.typeDT{
    display:grid;
    grid-column: 3/3;
    grid-row: 1/1;
    justify-self: end;
    padding-right:10px;
    /* border:1px solid red; */
}
.type1Input{
    display:grid;
    background-color:#8e8e8d;   
    grid-column: 4/5;
    grid-row: 1/1;
    /* width:25px; */
    /* border:1px solid red; */
}
.type2Input{
    display:grid;
    grid-column: 5/5;
    grid-row: 1/1;
    background-color:#8e8e8d;   
    /* width:25px; */
    /* border:1px solid red; */

}

.descriptionLine{
    display:grid;
    grid-template-columns: 100px 550px;
    /* grid-template-rows: 100px; */
    /* border:1px solid red; */
}

.descriptionDT{
    display:grid;
    grid-column: 1/1;
    grid-row: 1/1;
}

textarea {
    resize:none;
    background-color:#8e8e8d;   
}


/* .Line4 > .item2{
    display:grid;
    grid-column: 2/2;
    grid-row: 1/span 2;
} */

.locationLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}

    .locationBox {
        display:grid;
        background-color:#8e8e8d;
        
    }
    .statusDT{
        display:grid;
        justify-self: center;
        
    }

    .statusBox {
        display:grid;
        background-color:#8e8e8d;
        
    }

.companyLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}
    .companyBox {
        display:grid;
        background-color:#8e8e8d;   
    }
    .sapDT {
        display:grid;
        justify-self: center;
    }

    .sapBox{
        display:grid;
        background-color:#8e8e8d;   
    }

.requestByLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
    /* grid-template-rows:  */
    /* border:5px solid red; */
    /* border:2px solid red; */

}
    .requestByBox {
        display:grid;
        background-color:#8e8e8d;
        /* border:5px solid red; */
        /* height:20px; */
    }
    .requestDateDT{
        display:grid;
        justify-self: center;
        /* border:1px solid red; */
    }
    .requestDateBox{
        /* display:inline-grid; */
        background-color:#8e8e8d;
        /* height:20px; */
    }


.closedByLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}
    .closedByDT {
        display:grid;
    }
    .closedByBox {
        display:grid;
        background-color:#8e8e8d;
    }

    .completionDateBox {   
        background-color:#8e8e8d;
    }
    .completionDateDT {
        justify-self: center;    
    }


.formBtnArea{
    margin-top:25px;
    display:grid;
    grid-template-columns: repeat(7,auto);
    /* justify-items: center; */
    justify-content: center;
    /* border:1px solid black; */
}

.ovalButton{
    font-size: 15px;
    border-radius: 50px;
    background-color:lightblue;
}

.alertDivision{
    display: grid;
    grid-row: 2/2;
    
}
.alertMsg{
    grid-template-rows: auto;
    display:grid;
    justify-content: center;
    color:white;
    margin-bottom:50px;
    /* border:1px solid white; */
    
}

.outputDivision{
    /* margin-top:50px; */
    color:white;
    display:grid;
    /* grid-row:3/3; */
    grid-template-columns: repeat(12,auto);
    /* gap: 5px; */
    /* border:1px solid green; */
    justify-content: stretch;
    /* border:1px solid white; */
    /* grid-auto-rows: 50px; */
    justify-items:stretch;
}

.outputTable{
    color:white;
}

tr:hover{
    background-color: rgb(9, 153, 197);
}
/* .selected{
    background-color: rgb(9, 153, 197);
} */
.outputTable tr th{
    background-color: black;
}

/* tr:onclick{
    background-color: blue;
} */