body{
    display:grid;
    background-color: black;
    grid-template-rows: repeat(3,auto);
    background-image: url("image/mainBg2.jpg");
    background-color: #cccccc;
    font-family: 'Cambria',  Georgia, Times, Times New Roman, serif;
    /* font-weight: bold; */
    
}

.mainArea {
display: grid;

}

.mainAreaWrapper{
    background-color: rgba(255, 255, 255, 0.116);
    /* margin-top: 20px; */
    /* margin: auto; */
    /* border-radius: 50px; */
    /* width :75%; */
 border-radius: 25px;
}

.header{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 75px;
    background-color: rgba(68, 67, 67, 0.562);
    border-radius: 25px;
    /* background: rgba(255,255,255,0.5); */
    box-shadow: 1px 1px 10px black;
    margin-bottom: 20px;
}

.header div{
    color:rgb(212, 233, 215);
    font-size: 50px;
    font-weight: bold;
 
  

}



.formArea{
    display:grid;
    background-color: rgb(0, 177, 169);   
    justify-self:center;
    padding:50px;
    grid-template-rows: auto auto;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 50px black;

}

.formArea div{
    font-weight: bold;
}

/* .formArea:hover{
    box-shadow: 1px 1px 50px grey;
    
} */

.formDataArea{
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(7,auto);
}


.formTitleLine{
    display:grid;
    grid-template-rows: auto;
    justify-self: center;

    margin-bottom: 20px;
}

.switchBtnLine{
    display:grid;
    grid-template-columns: auto auto auto;

}





.workTitleLine  {
    display:grid;

    grid-template-columns: 100px 200px 250px 50px 50px;
}

.workTitleDT{
    display:grid;
   grid-column: 1/1;

   grid-row: 1/1;
}
.workTitleInput{
    display:grid;
    grid-column: 2/2;
    grid-row: 1/1;

}
.typeDT{
    display:grid;
    grid-column: 3/3;
    grid-row: 1/1;
    justify-self: end;
    padding-right:10px;
 
}
.type1Input{
    display:grid;
    grid-column: 4/5;
    grid-row: 1/1;

}
.type2Input{
    display:grid;
    grid-column: 5/5;
    grid-row: 1/1;


}

.descriptionLine{
    display:grid;
    grid-template-columns: 100px 550px;

}

.descriptionDT{
    display:grid;
    grid-column: 1/1;
    grid-row: 1/1;
}

textarea {
    resize:none;
    
}




.locationLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}

    .locationBox {
        display:grid;

        
    }
    .statusDT{
        display:grid;
        justify-self: center;
        
    }

    .statusBox {
        display:grid;

        
    }

.companyLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}
    .companyBox {
        display:grid;

    }
    .sapDT {
        display:grid;
        justify-self: center;
    }

    .sapBox{
        display:grid;

    }

.requestByLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;


}
    .requestByBox {
        display:grid;

    }
    .requestDateDT{
        display:grid;
        justify-self: center;

    }



.closedByLine{
    display:grid;
    grid-template-columns:100px 200px 150px 200px;
}
    .closedByDT {
        display:grid;
    }
    .closedByBox {
        display:grid;

    }

  
    .completionDateDT {
        justify-self: center;    
    }


.formBtnArea{
    margin-top:25px;
    display:grid;
    grid-template-columns: repeat(7,auto);

    justify-content: center;

}

.ovalButton{
    font-size: 15px;
    border-radius: 50px;
    background-color:rgb(25, 46, 31);
    width: 100px;
    height: 40px;
    color:white;

    font-weight: bold;
}

.ovalButton:hover{
    box-shadow: 5px 5px 10px rgb(42, 66, 88)
}

.alertDivision{
    display: grid;
    /* grid-row: 2/2; */
    
}
.alertMsg{
    grid-template-rows: auto;
    display:grid;
    justify-content: center;
    color:white;
    margin-bottom:50px;
    margin-top: 10px;

    
}

.outputDivision{

    color:white;
    display:grid;

    grid-template-columns: repeat(12,auto);

    justify-content: center;
 
    justify-items:center;

}

.outputTable{
    color:white;
    width: 1500px;

}

.outputTable td{
    color:white;
    width: auto;
}

tr{
    background-color:  rgb(24, 87, 82); 
}
tr:nth-child(even){
    background-color: rgb(38, 131, 123);
}

tr:hover{
    background-color: rgb(0, 184, 168);
}



.outputTable tr th{
    background-color: rgb(29, 27, 25);
}



.switchBtnLine{
    margin-bottom:10px;
}
.switchBtnLine div{
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
}


 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 1;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

input{
      background-color: rgb(100, 98, 98);
      color:white;
      font-weight: 600;
  }

select{
    background-color: rgb(100, 98, 98);
    color:white;
    font-weight: 600;
}

textarea{
    background-color: rgb(100, 98, 98);
    color:white;
    font-weight: 600;
}